<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
  
    <property name="connection.url">jdbc:mysql://localhost/test</property>
    <property name="connection.username">root</property>
    <property name="connection.password">bonjorno</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  
    <property name="show_sql">true</property>
  
    <property name="format_sql">true</property>

<!--     create , update -->
    <property name="hbm2ddl.auto">update</property>  

  
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
 
     
      <mapping resource="hibernate/mapping/User.hbm.xml"/>
     <mapping class="domain.User" />
     <mapping resource="hibernate/mapping/Sessions.hbm.xml"/>
     <mapping class="domain.Sessions" />
     <mapping resource="hibernate/mapping/Film.hbm.xml"/>
     <mapping class="domain.Film" />
<!--      <mapping class="com.mastertheboss.domain.Department" /> -->
 
</session-factory>
</hibernate-configuration>
